@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@theme {
  --tw-shadow-color: #000;

  --color-pink-100: #fffafb;
  --color-pink-200: #fccfd3;
  --color-pink-300: #f9a9b0;
  --color-pink-400: #f7838d;
  --color-pink-500: #f45b69;
  --color-pink-600: #ef1024;
  --color-pink-700: #a30b19;
  --color-pink-800: #56060d;
  --color-pink-900: #050001;
  --color-blue-100: #fafcff;
  --color-blue-150: #e5f1ff;
  --color-blue-200: #cce4ff;
  --color-blue-300: #99c9ff;
  --color-blue-400: #66aeff;
  --color-blue-500: #3795ff;
  --color-blue-600: #006eeb;
  --color-blue-700: #004a9e;
  --color-blue-800: #002957;
  --color-blue-900: #00050a;
  --color-turquoise-100: #faffff;
  --color-turquoise-150: #d1fffc;
  --color-turquoise-400: #1affef;
  --color-turquoise-500: #00cfc1;
  --color-turquoise-600: #009e93;
  --color-orange-100: #fffdfa;
  --color-orange-150: #fff2db;
  --color-orange-200: #ffe9c2;
  --color-orange-300: #ffd894;
  --color-orange-400: #ffc866;
  --color-orange-500: #ffb738;
  --color-orange-600: #eb9600;
  --color-orange-700: #9e6500;
  --color-orange-800: #573700;
  --color-orange-900: #0a0700;
  --color-brown-200: #dad2c9;
  --color-brown-900: #030302;
  --default-font-family: "Fira Sans", sans-serif;
  --tw-duration: 5;
  --bg-lr-blue-gradient: linear-gradient(
    90deg,
    var(--color-blue-200) 0%,
    var(--color-blue-200) 40%,
    #ffffff 35%,
    #ffffff 100%
  );
  --bg-tb-blue-gradient: linear-gradient(
    180deg,
    #fff 0%,
    #fff 10%,
    var(--color-blue-200) 10%,
    var(--color-blue-200) 85%,
    #fff 85%,
    #fff 100%
  );
}

.bottom-bar-gradient {
  background: linear-gradient(
    90deg,
    #fff 0%,
    #fff 66.6667%,
    transparent 66.6667%,
    transparent 100%
  );
}

.fill-on-white {
  fill: #000;
}
.fill-on-black {
  fill: #fff;
}

.stroke-on-white {
  stroke: #000;
}

.stroke-on-black {
  stroke: #fff;
}
