@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import "tailwindcss";

@theme {
	--color-blue-100: #FAFCFF;
	--color-blue-400: #66AEFF;
	--color-blue-500: #3795FF;
	--color-blue-600: #006EEB;
	--color-turquoise-100: #FAFFFF;
	--color-turquoise-400: #1AFFEF;
	--color-turquoise-500: #00CFC1;
	--color-turquoise-600: #009E93;
	--color-orange-100: #FFFDFA;
	--color-orange-400: #FFC866;
	--color-orange-500: #FFB738;
	--color-orange-600: #EB9600;
  --font-fira-sans: "Fira Sans", sans-serif;
}